
.heading{
    align-items: center;
    display: flex;
    text-align: center;
    /* background-color: rgba(255, 0, 0, 0.096);  */
    padding-bottom: 20px;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 40px;
}

.heading-p{
    text-align: center;
    padding-bottom: 10px;
}

.parameters{

   padding-top:10px;
   font-size: 30px;

   margin: auto;
  
   padding-bottom: 10px;
    padding-left: 70px; 

  
} 
/* // new-from-bootstrap */

.label-c{
    font-size: 25px;
    padding-top: 6px;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.inp{
     
  
    padding-left: 65px ;


}

.inp-box{
    width: 90%;
    justify-content: center;
    text-align: center;
    
     border-style: solid;
     border-radius: 15px;
     border-color: grey;
     outline: none;
    font-size: 25px;
    
    
 
}


.para-heading{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input{
  height: 30px;
   background-color: rgba(255, 192, 203, 0.242);
   border-radius: 10px;
   font-size: 23px;
   border-width: 5px;
   border-color: rgba(255, 0, 0, 0.155);
}



/* .d-grid gap-2{
    padding-left: ;
} */

.btn-downc{
  padding-left: 75px;

}
.btn-download {
    background-color: rgb(47, 101, 173);
    color: white;
    font-size: 20px;
 
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
  
    box-shadow:red ;
  }

.loading-option{
     height: 555px;
     padding-top: 20px;
    justify-content: center;
    /* background-color: rgba(255, 0, 0, 0.219); */
    /* align-items: center;
    text-align: center; */
}
