
.heading{
    align-items: center;
    display: flex;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.096);
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 40px;
}



.parameters{
  /* align-items: center; */
  /* justify-content: center; */
  
   text-align: center;
   padding-top: 80px;
   font-size: 30px;
   /* background-color: rgba(255, 255, 0, 0.146); */
   margin: auto;
   border-radius: 20px;
   /* padding-left: 20px;
   padding-right: 20px; */
  
}
input{
  height: 25px;
   background-color: rgba(255, 192, 203, 0.242);
   border-radius: 10px;
}


.loading-option{
     height: 555px;
     padding-top: 20px;
    justify-content: center;
    /* background-color: rgba(255, 0, 0, 0.219); */
    /* align-items: center;
    text-align: center; */
}
/* .heading-wrap{
  height: 10%;
  align-items: center;
  display: flex;
  text-align: center;
  background-color: red;
  justify-content: center;
} */